/* -------------------------------------
CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
/*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
box-sizing: border-box;
/*reset Chrome user agent styles*/
-webkit-margin-before: 0px;
-webkit-margin-after: 0px;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-before: 0px;
-webkit-padding-after: 0px;
-webkit-padding-start: 0px;
-webkit-padding-end: 0px;
}
/* -------------------------------------
General styles (General Module, wrapping around the modules bellow)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size:20px;
    background-color: white;
    margin-left:auto;
    margin-right:auto;
    max-width:1024px;
}
.titles{
    font-family: 'Ubuntu', sans-serif;
}
header{
    background-image:url(./images/clouds.png);
    background-size: cover;
    position: relative;
    padding:1rem;
    border-top: solid black;
    border-left: solid black;
    border-right:solid black;
    border-width: 3px;
}
h1{
    font-size:50px;
    padding:0.5rem;
    color:white;
}
h2{
    font-size:40px;
    padding:0.5rem;
}
h3{
    font-size:30px;
    padding:0.5rem;
    margin-bottom: 1rem;
}
h4 {
  font-size:25px;
  padding:0.5rem;
  margin-bottom: 1rem;
  margin-top:1rem;
}
p{
    padding:0.5rem;
    margin-bottom:1rem;
}
#headshot{
    height:300px;
    border:solid black;
    border-radius: 50%;
    border-width: 3px;
    margin-top:1rem;
    box-shadow: 8px 8px 5px #888888;
}
.socialIcon{
  height:80px;
  width:80px;
  padding:0.5rem;
  transition: all .5s;
}
.socialIcon:hover{
  transform: scale(1.3)
}
.welcome{
    background-color:white;
    padding:1rem;
    border:solid black;
    border-width: 3px;
}
.portfolioLinks , .knowledge{
    background-color:#05B7FF;
    padding:1rem;
}
.portfolioLinks{
    border-left: solid black;
    border-right:solid black;
    border-width: 3px;
}
.exampleImages{
  width:100%;
  margin-left:auto;
  margin-right:auto;
  border:solid 2px white;
}
.knowledge{
    border-left: solid black;
    border-right:solid black;
    border-bottom: solid black;
    border-width: 3px;
}
.nextSteps{
    background-color:white;
    padding:1rem;
    border-left: solid black;
    border-right:solid black;
    border-bottom: solid black;
    border-width: 3px;
}
footer{
    background-color:#05B7FF;
    padding:1rem;
    border-left: solid black;
    border-right:solid black;
    border-bottom: solid black;
    border-width: 3px;
}

button{
    padding:1rem;
    background-color:rgb(225, 225, 225);
    margin:1rem;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border:solid 2px black;
    box-shadow: 5px 5px 5px #888888;
}

button:hover{
    background-color: #A5DDFE;
    cursor:pointer;
    border:solid 2px rgb(225, 225, 225);
}
a{
    color:darkgray;
}
a:hover{
    color:#05B7FF;
}
.emailLink{
  color:black;
}
.emailLink:hover{
  color:#05B7FF;
}
.myKnowledgeLinks{
    color:rgb(225, 225, 225);
}
.myKnowledgeLinks:hover{
    color:darkgray;
}
.languageLogo{
    height:100px;
    display: inline-block;
    padding:0.7rem;
}
/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/
/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/
/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/
/* -------------------------------------
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles bellow this line
*/
/*ipad lanscape / small laptop*/

@media only screen and (max-width: 1024px) {
/* acting like an IF statement, the media query is a set of conditions in which the containing css will be applied
for example the statament above says: IF the media on which this CSS is going to used is SCREEN (Mobiles, Tables, Laptops, Desktops or Projectors) and the maximum resolution of that device is 1024px, THEN apply the body color blue for all the text
*/
body {


}
/*ipad potrait*/
@media only screen and (max-width: 768px) {
    button{
        margin-top:1rem;
        margin-left:0.1rem;
        margin-right:0.1rem;
        font-size: 14px;
    }
}
/*iPhone landscape*/
@media only screen and (max-width: 480px) {
    body {
        font-size:17px;
    }
    h1{
        font-size:40px;
        padding:0.2rem;
    }
    h2{
        font-size:30px;
        padding:0.2rem;
    }
    h3{
        font-size:25px;
        padding:0.2rem;
    }
    h4{
        font-size:20px;
    }
    .socialIcon{
      height:50px;
      width:50px;
    }
    button{
        height:80px;
        width:80px;
    }
    .languageLogo{
        height:95px;

    }
}
/*iPhone portrait*/
@media only screen and (max-width: 320px) {

    header{
        padding:1rem;
    }
    h1{
        font-size:35px;
        padding:0.1rem;
    }
    h2{
        font-size:25px;
        padding:0.1rem;
    }
    .welcome{
        padding:1rem;
    }
    .languageLogo{
        height:80px;

    }
}
